.news-Headlines {
  margin: 10px 0 0 10px;
  a {
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 16px;
  }
}

.news-author {
  margin-left: 10px;
  font-size: 12px;
  color: rgba(0,0,0,0.6);
}
